html 
    head
        title First HTML page 
        link(href = "https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap-grid.min.css" rel= "stylesheet")
    body 
        div(class="container-fluid")
            div(class="row")
                img(src="http://localhost:3001/assets/hiking.png" class="img img-fluid")
        
